{% extends 'Doctors/base.html' %}

{% load static %}
{% block content %}
<body>
<img src="{% static 'MyDoc/image/martha.jpg'%}" style="z-index: -1" class="bg" alt="">

<div class="container-fluid">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <h3 class="round3" style="text-align: center;">My Appointments</h3>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
</div>


    <br>
 <div class="row">
    {% if dcts %}
    {% for patient in dcts %}

        <div class="col-md-6">
    <div class="content-section" style="background: #ffffff; padding: 90px 20px 15px; border: 1px solid #dddddd; border-radius: 3px; margin-left: 60px; margin-top: 60px; margin-bottom: -60px;">
          <div class="media">
            <div class="media-body">

            <p class="account-heading" style="font-size: 18px; color: #6f42c1; margin-top: -79px;">From.{{ patient.name }},&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

            </p>
                <p>{{ patient.email }}</p>
                <hr>
                <p class="text-secondary">Date Added-: {{ patient.date }}</p>
                    <p class="text-secondary">Patients Location:-  {{ patient.location }}</p>

                <p>RE: {{ patient.subject }}</p>
                <p>Reason-: {{ patient.message }}</p>
                <hr>
                 <a href="{% url 'Doctors:dct_appnt' %}" class="btn btn-outline-info btn-sm" role="button">
                     Schedule Appointment
                 </a>


         </div>
    </div>

    </div>
</div>


   {% endfor %}
    {% endif %}

 </div>
</body>
{% endblock %}

